
PORT = 4000

# MongoDB URL for connecting to the database

MONGODB_URL = 

# Frontend URL for CORS policy

FRONTEND_URL = 

# JSON Web Token (JWT) items for authentication

JWT_SECRET_KEY =

JWT_EXPIRES_IN = 

COOKIE_EXPIRES_IN = 

# Cloudinary items for storing images or other files 

CLOUDINARY_CLOUD_NAME =

CLOUDINARY_API_SECRET =

CLOUDINARY_API_KEY =

# Simple Mail Transfer Protocol (SMTP) items for sending emails

SMTP_SERVICE = 

SMTP_MAIL =

SMTP_PASSWORD =

SMTP_HOST =

SMTP_PORT =

